.container{
margin-left: auto;
margin-right: auto;
}

.header-logo {
	display: block;
	margin-right: auto;
}

.header {
	background-color: var(--background-color);
	width: 100%;
}
.menu.button {
	display: block;
	border: none;
	background-color: transparent;
}
.header-content {
	display: flex;
	align-items: flex-end;
	justify-items: center;
	height: 65px;
}
.nav-list{
	margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-right: 0px;
}

.nav-link {
	font-weight: 700;
}
.nav-item:hover{
	cursor: url("../images/Cursor.png");
}
.button-buy-now {
	display: block;
	align-items: center;
	font-weight: 600;
	line-height: 1.2;

	padding: 12px 35px;
	bottom: 64px;
	border-radius: 10px;
	border: none;
	background-color:var(--default-btn-color);
	color: #000000;
}

.button-buy-now:hover {
	background-color: var(--hover-btn-color);
	color: #000000;
}

.button-buy-now:focus {
	background-color: var(--hover-btn-color);
	color:var(--first-color);
}
.button-buy-now:focus .icon-arrow{
	fill: var(--first-color);
}
.button-buy-now:disabled {
	background-color: var(--disabled-btn-color);
	color: #000000;
}
.close-menu{
	padding: 0;
}

@media screen and (min-width:320px) and (max-width:479px){
	.logo{
		padding-left: 12px;
	}
	.menu-container{
		padding-top: 56px;
		padding-bottom: 64px;
	}
	.nav-item:last-child{
		margin-bottom: 110px;
	}
}
@media screen and (min-width: 480px) {
	.hero-header .container {
		position: relative;
	}
}
@media screen and (min-width:480px) and (max-width:767px){
	.menu-container{
		padding-top: 60px;
		padding-bottom: 88px;
	}
	.nav-item:last-child{
		margin-bottom: 114px;
	}
}
@media screen and (max-width: 767px) {

	.container {
		max-width: 480px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.hero-header {
		position: relative;
	}

	.header-content > .button-buy-now {
		display: none;
	}

	.button-buy-now {
		margin: 0 auto;
	}
	.close-menu{
		right: 20px;
	}
	.menu-nav{
		padding-left: 20px;
		padding-right: 20px;
	}
	.nav-link{
		font-size: 32px;
		line-height: 1.21;
	}
	.nav-item:not(:last-child){
		margin-bottom: 32px;
	}
}
@media screen and (min-width: 768px) {
	.menu-container .button-buy-now {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.container {
		max-width: 768px;
		padding-left: 32px;
		padding-right: 32px;
	}
.menu {
		margin-right: 32px;
	}
	.menu-container {
		padding-top: 96px;
		margin: auto;
		height: 100%;
	}

	.close-menu {
		position: absolute;
		top: 16px;
		right: 30px;
		border: none;
		background-color: transparent;
	}

	.menu-nav {
		position: fixed;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		overflow-y: scroll;
		z-index: 100;
		transform: translateX(0);
		transition: transform, 250ms cubic-bezier(0.19, 1, 0.22, 1);
		background-color: var(--background-color);
		padding-left: 32px;
    padding-right: 32px;
	}

	.menu-nav.is-open {
		top: 0;
		left: 100%;
		transform: translateX(0);
	}

	.nav-list {
		display: block;
		text-align: center;
		margin-bottom: auto;
	}

	.nav-link {
		font-size: 40px;
		color: var(--first-color);
	}

	.nav-link:hover,
	.nav-link:focus {
		color: var(--second-color);
	}

	.nav-link:disabled {
		color: var(--disabled-btn-color);
	}

	.nav-item:not(:last-child) {
		margin-bottom: 40px;
	}
}


@media screen and (max-width: 1199px) {
	.close-menu {
		position: absolute;
		top: 16px;
		border: none;
		background-color: transparent;
	}

	.menu-nav {
		position: fixed;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		overflow-y: scroll;
		z-index: 100;
		transform: translateX(0);
		transition: transform, 250ms cubic-bezier(0.19, 1, 0.22, 1);
		background-color: var(--background-color);
	}

	.menu-nav.is-open {
		top: 0;
		left: 100%;
		transform: translateX(0);
	}

	.nav-list {
		display: block;
		text-align: center;
		margin-bottom: auto;
	}
	.nav-link {
		line-height: 1.2;
		color: var(--first-color);
	}

	.nav-link:hover,
	.nav-link:focus {
		color: var(--second-color);
	}

	.nav-link:disabled {
		color: var(--disabled-btn-color);
	}
}

@media screen and (min-width: 1199px) {
	.container {
		max-width: 1200px;
		padding-left: 16px;
		padding-right: 16px;
	}
.logo{
	display: none;
}

	.menu,
	.menu-hamburger,
	.close-menu {
		display: none;
	}

	.nav-list {
		display: flex;
	}

	.navigation {
		display: flex;
		margin-right: 205px;
	}

	.nav-link {
		display: block;
		line-height: 1.25;
		padding-top: 13px;
		padding-bottom: 13px;
		color: var(--first-color);
	}
.nav-link:hover{
	cursor: url("../images/Cursor.png");
}
	.nav-link:hover {
		color:  var(--default-btn-color);
	}

	.nav-link:focus {
		color: var(--hover-btn-color);}

	.nav-link:disabled {
		color: var(--disabled-btn-color);
	}

	.nav-item:not(:last-child) {
		margin-right: 28px;
	}
}