
.container{
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  display: block;
  margin-right: auto;
}

.header {
  background-color: var(--background-color);
  width: 100%;
}
.menu.button {
  display: block;
  border: none;
  background-color: transparent;
}
.header-content {
  display: flex;
  align-items: flex-end;
  justify-items: center;
  height: 65px;
}
.nav-list{
	margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    margin-right: 0;
}

.nav-link {
  font-weight: 700;
}
.nav-item:hover{
	cursor: url("../images/Cursor.png"), pointer;
}
.button-buy-now {
  display: block;
  align-items: center;
  font-weight: 600;
  line-height: 1.2;

  padding: 12px 35px;
  bottom: 64px;
  border-radius: 10px;
  border: none;
  background-color:var(--default-btn-color);
  color: #000000;
}

.button-buy-now:hover {
  background-color: var(--hover-btn-color);
  color: #000000;
}

.button-buy-now:focus {
  background-color: var(--hover-btn-color);
  color:var(--first-color);
}
.button-buy-now:focus .icon-arrow{
  fill: var(--first-color);
}
.button-buy-now:disabled {
  background-color: var(--disabled-btn-color);
  color: #000000;
}
.close-menu{
  padding: 0;
}

@media screen and (min-width:320px) and (max-width:479px){
  .logo{
    padding-left: 12px;
  }
  .menu-container{
    padding-top: 56px;
    padding-bottom: 64px;
  }
  .nav-item:last-child{
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 480px) {
  .hero-header .container {
    position: relative;
  }
}
@media screen and (min-width:480px) and (max-width:767px){
  .menu-container{
    padding-top: 60px;
    padding-bottom: 88px;
  }
  .nav-item:last-child{
    margin-bottom: 114px;
  }
}
@media screen and (max-width: 767px) {

  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-header {
    position: relative;
  }

  .header-content > .button-buy-now {
    display: none;
  }

  .button-buy-now {
    margin: 0 auto;
  }
  .close-menu{
    right: 20px;
  }
  .menu-nav{
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-link{
    font-size: 32px;
    line-height: 1.21;
  }
  .nav-item:not(:last-child){
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container .button-buy-now {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .menu {
    margin-right: 32px;
  }
  .menu-container {
    padding-top: 96px;
    margin: auto;
    height: 100%;
  }

  .close-menu {
    position: absolute;
    top: 16px;
    right: 30px;
    border: none;
    background-color: transparent;
  }

  .menu-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
    z-index: 100;
    transform: translateX(0);
    transition: transform, 250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--background-color);
    padding-left: 32px;
    padding-right: 32px;
  }

  .menu-nav.is-open {
    top: 0;
    left: 100%;
    transform: translateX(0);
  }

  .nav-list {
    display: block;
    text-align: center;
    margin-bottom: auto;
  }

  .nav-link {
    font-size: 40px;
    color: var(--first-color);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--second-color);
  }

  .nav-link:disabled {
    color: var(--disabled-btn-color);
  }

  .nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
}


@media screen and (max-width: 1199px) {
  .close-menu {
    position: absolute;
    top: 16px;
    border: none;
    background-color: transparent;
  }

  .menu-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
    z-index: 100;
    transform: translateX(0);
    transition: transform, 250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--background-color);
  }

  .menu-nav.is-open {
    top: 0;
    left: 100%;
    transform: translateX(0);
  }

  .nav-list {
    display: block;
    text-align: center;
    margin-bottom: auto;
  }
  .nav-link {
    line-height: 1.2;
    color: var(--first-color);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--second-color);
  }

  .nav-link:disabled {
    color: var(--disabled-btn-color);
  }
}

@media screen and (min-width: 1199px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo{
    display: none;
  }

  .menu,
  .menu-hamburger,
  .close-menu {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .navigation {
    display: flex;
    margin-right: 205px;
  }

  .nav-link {
    display: block;
    line-height: 1.25;
    padding-top: 13px;
    padding-bottom: 13px;
    color: var(--first-color);
  }
  .nav-link:hover{
    cursor: url("./images/Cursor.png"), pointer;
  }
  .nav-link:hover {
    color:  var(--default-btn-color);
  }

  .nav-link:focus {
    color: var(--hover-btn-color);}

  .nav-link:disabled {
    color: var(--disabled-btn-color);
  }

  .nav-item:not(:last-child) {
    margin-right: 28px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modalProduct {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  margin: 0 auto;
  fill: #131313;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color:#F8D24E  ;
}

.modal-close-btn:hover,
.modal-close-btn:focus .modal-close-btn-icon {
  fill:#F8D24E;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-product-card {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 28px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: box-shadow var(--transition);
  overflow: scroll;
}

.product-card-head {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #131313;
  margin-bottom: 83px;
}

.modal-card-input {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 132px;
  height: 135px;
}

.circle-gradient {
  display: block;
  position: absolute;
  top: -50%;
  left: -0.5px;
  transform: translate(0px, 7px);
  border-radius: 50%;
  width: 132px;
  height: 135px;
}

.green .circle-gradient {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.yellou .circle-gradient {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.brovn .circle-gradient {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.modal-card-img {
  position: absolute;
  top: -7px;
}
.product-card-text {
  display: flex;
  width: 132px;
  height: 135px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.modal_buy-checkbox {
  display: block;
  width: 132px;
  height: 135px;
  cursor: pointer;
}
.custom-checkbox {
  display: block;
  transition-property: background-color;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.green {
  border: 2px solid #96af8c;
  border-radius: 15px;
}
.yellou {
  border: 2px solid #efd478;
  border-radius: 15px;
}
.brovn {
  border: 2px solid #d6936d;
  border-radius: 15px;
}

.checkbox:checked + .modal_buy-checkbox .green {
  background-color: #84a178;
}
.checkbox:checked + .modal_buy-checkbox .yellou {
  background-color: #efd478;
}
.checkbox:checked + .modal_buy-checkbox .brovn {
  background-color: #d6936d;
}

.form-input {
  width: 100%;
  background: rgba(248, 210, 78, 0.1);
  margin-bottom: 12px;
  padding: 8px 12px;
  border: 1px solid #84a178;
  border-radius: 10px;
  transition: border-color 250ms cubic-bezier(.4,0,.2,1);
}
.form-message {
  width: 100%;
  background: rgba(248, 210, 78, 0.1);
  margin-bottom: 24px;
  padding: 8px 12px 40px;
  resize: none;
  border: 1px solid #84a178;
  border-radius: 10px;
}

.form-message::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #131313;
}
.form-input::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #131313;
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0.15s,
  border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-filed {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .modal-product-card {
    display: block;
    width: 100%;
    max-width: 280px;
    max-height: 991px;
    padding: 28px;
  }
  .modal-card-list {
    display: block;
    margin-bottom: 34px;
    padding: 0;
  }

  .modal-card-input {
    list-style: none;
    width: 100%;
    max-width: 132px;
    height: 136px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 82px;
    justify-content: center;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15px;
  }
}

@media screen and (min-width: 768px) {
  .modal-product-card {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 568px;
    max-height: 644px;
  }
  .modal-card-list {
    display: flex;
    gap: 32px;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
  }
  .form-input-text {
    display: block;
    margin: 0 auto;
    max-width: 368px;
  }

  .form-input {
    margin-bottom: 16px;
    padding: 11px 16px;
  }
  .form-message {
    padding: 11px 16px 53px;
  }
}

.form-input:focus,
.form-message:focus {
  outline: none;
  border-color: #f8d24e;
}
.form-input:hover,
.form-message:hover {
  outline: none;
  border-color: #f8d24e;
}

.formfield:not(:placeholder-shown):invalid {
  border-color: rgba(255, 0, 0, 0.1);
  background-color: rgba(255, 0, 0, 0.1);
}

.button-form-submit {
  display: block;
  background-color: #f8d24e;
  width: 132px;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #131313;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
}

.button-form-submit:hover {
  background-color: #0A8817;
  color:#131313;
}
.button-form-submit:focus {
  background-color: #0A8817;
  color:#fcfcfc;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}