// Здесь прописаны общие стили для модалок

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.no-scroll {
  overflow: hidden;
}

// Стили для кнопки закрытия

.modal__close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  fill: $color-text-secondary;
  @extend %cursor;
  @extend %centered;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  transition: scale $cubic, box-shadow $cubic;

  @include tablet {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    scale: 1.3;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
  }
}

.modal__cross {
  width: 20px;
  height: 20px;
  @include tablet {
    width: 24px;
    height: 24px;
  }
}

// Стили для заголовка модалки

.modal__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $color-text-secondary;

  @include tablet {
    font-size: 20px;
    line-height: 1.4;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

// Стили для модалок

.modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  background-color: $color-modal-bg;

  border-radius: 10px;
  border: 2px solid $color-accent;

  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;

  max-height: 85%;
  overflow: auto;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }

  //   Общие стили заданы, далее каждый индивидуально задает стили и классы для своей модалки
}
