:root {
  --first-color: #fcfcfc;
  --second-color: #131313;
  --background-color: #84a178;
  --default-btn-color: #f8d24e;
  --hover-btn-color: #0a8817;
  --disabled-btn-color: #ababab;
  --accent-text-color: #d6936d;
  --primary-text-font: "Montserrat", sans-serif;
  --title-font: "Seymour One", sans-serif;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1200px;
  }
}
