    <!--------  Adventages  -------->

    <div class="container">
        <h2 class="adv-title">Adventages</h2>
        <ul class="adv-list">
          <li>
            <div class="adv-icon-place">
              <svg class="adv-icon">
                <use href="./images/icons.svg#cow-icon"></use>
              </svg>
            </div>
            <h3 class="adv-h3">721</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
          </li>
          <li>
            <div class="adv-icon-place">
              <svg class="adv-icon">
                <use href="./images/icons.svg#weight-icon"></use>
              </svg>
            </div>
            <h3 class="adv-h3">16KG</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
          </li>
          <li>
            <div class="adv-icon-place">
              <svg class="adv-icon">
                <use href="./images/icons.svg#icecream-icon"></use>
              </svg>
            </div>
            <h3 class="adv-h3">84</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
          </li>
        </ul>
      </div>
    </body>
  
  
