<section class="contacts-section">
    <div class="contacts-conteiner">
        <h2 class="hidden">Contacts</h2>
        <ul class="contacts-ul list">

            <li class="contacts-item">
                <p class="contacts-categories">CAFE</p>

                <div>
                    <p class="contacts-p">Chicago</p>
                    <a class="contacts-a link" href="">10340 Ridgeland Ave, Chicago Ridge, IL 60415,
                        USA</a>
                </div>

                <div class="contacts-border"></div>

                <div class="contacts-calendar">
                    <p class="contacts-p">Monday - Friday</p>
                    <p class="contacts-time">06:00 AM - 10:00 PM</p>
                </div>

                <div>
                    <p class="contacts-p">Saturday - Sunday</p>
                    <p class="contacts-time">08:00 AM - 16:00 PM</p>
                </div>

                <div class="contacts-border"></div>
                <div>

                    <ul class="list">
                        <li><a href="tel:+61(0)383766284" class="contacts-nav link">
                                +61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="contacts-nav link">
                                noreply@envato.com</a></li>
                    </ul>
                </div>
            </li>


            <li class="contacts-item">
                <p class="contacts-categories">FOOD TRUCK</p>

                <div>
                    <p class="contacts-p">Los Angeles</p>
                    <a class="contacts-a link" href="">1003 Manhattan Ave, Manhattan Beach, CA 90263,
                        USA</a>
                </div>

                <div class="contacts-border"></div>

                <div class="contacts-calendar">
                    <p class="contacts-p">Monday - Friday</p>
                    <p class="contacts-time">06:00 AM - 10:00 PM</p>
                </div>

                <div>
                    <p class="contacts-p">Saturday - Sunday</p>
                    <p class="contacts-time">08:00 AM - 16:00 PM</p>
                </div>

                <div class="contacts-border"></div>

                <div>
                    <ul class="list">
                        <li><a href="tel:+61(0)383766284" class="contacts-nav link">
                                +61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="contacts-nav link">
                                noreply@envato.com</a></li>
                    </ul>
                </div>
            </li>


            <li class="contacts-item">
                <p class="contacts-categories">CAFE</p>
                <div>
                    <p class="contacts-p">New York</p>
                    <a class="contacts-a link" href="">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </div>

                <div class="contacts-border"></div>

                <div class="contacts-calendar">
                    <p class="contacts-p">Monday - Friday</p>
                    <p class="contacts-time">06:00 AM - 10:00 PM</p>
                </div>

                <div>
                    <p class="contacts-p">Saturday - Sunday</p>
                    <p class="contacts-time">08:00 AM - 16:00 PM</p>
                </div>

                <div class="contacts-border"></div>

                <div>
                    <ul class="list">
                        <li><a href="tel:+61(0)383766284" class="contacts-nav link">+61(0) 383 766
                                284</a></li>
                        <li><a href="mailto:noreply@envato.com"
                                class="contacts-nav link">noreply@envato.com</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="contacts-button-div">
            <button type="button" class="contacts-button">Our Locations </button>
            <button type="button" class="contacts-btn">Franchise</button>
        </div>
    </div>
</section>