<footer class="footer">
    <div class="footer-container container">
        <div>
            <p class="footer-text-first">homemade ice cream made</p>
            <p class="footer-text-last">with passion</p>
        </div>
        <div class="footer-wrapper-contacts">
            <ul class="footer-socials list">
                <li>
                    <a class="footer-social-link" href="https://github.com/lizavetion/group10_icecream" target="_blank" rel="nofollow noopener noreferrer">
                        <svg class="footer-social-icon" width="20" height="20">
                            <use href="./images/icons.svg#github-icon"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer-social-link" href="https://web.telegram.org/" target="_blank"
                        rel="nofollow noopener noreferrer">
                        <svg class="footer-social-icon" width="20" height="16">
                            <use href="./images/icons.svg#telegram-icon"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer-social-link" href="https://www.facebook.com/" target="_blank"
                        rel="nofollow noopener noreferrer">
                        <svg class="footer-social-icon" width="10" height="20">
                            <use href="./images/icons.svg#facebook-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer-tel">Feel free to contact
            <a class="footer-tel-link link" href="tel:+610383766284"> +61 (0) 383766 284</a>
            </p>
        </div>
    </div>
    <hr class="footer-line">
    <p class="footer-copyright">
        &#169; 2022 - IceCream. All Rights Reserved.
    </p>
</footer>