<div class="gallery-section">
  <h2 class="hidden">Ice-cream's gallery</h2>
  <div class="container">
    <div class="swiper slider1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/ice-cream-desktop.jpg    1x,
                ./images/gallery/ice-cream-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/ice-cream-tablet.jpg    1x,
                ./images/gallery/ice-cream-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/ice-cream-mobile.jpg    1x,
                ./images/gallery/ice-cream-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-images"
              src="./images/gallery/ice-cream-desktop.jpg"
              alt="ice cream"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/ice-cream-scoops-desktop.jpg    1x,
                ./images/gallery/ice-cream-scoops-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/ice-cream-scoops-tablet.jpg    1x,
                ./images/gallery/ice-cream-scoops-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/ice-cream-scoops-mobile.jpg    1x,
                ./images/gallery/ice-cream-scoops-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-images"
              src="./images/gallery/ice-cream-scoops-desktop.jpg"
              alt="ice cream scoops"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/corner-ice-desktop.jpg    1x,
                ./images/gallery/corner-ice-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/corner-ice-tablet.jpg    1x,
                ./images/gallery/corner-ice-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/corner-ice-mobile.jpg    1x,
                ./images/gallery/corner-ice-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-images"
              src="./images/gallery/corner-ice-desktop.jpg"
              alt="ice cream corner"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/ice-cream-fruit-desktop.jpg    1x,
                ./images/gallery/ice-cream-fruit-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/ice-cream-fruit-tablet.jpg    1x,
                ./images/gallery/ice-cream-fruit-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/ice-cream-fruit-mobile.jpg    1x,
                ./images/gallery/ice-cream-fruit-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-images"
              src="./images/gallery/ice-cream-fruit-desktop.jpg"
              alt="ice cream with fruit"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/ice-cream-exsotic-desktop.jpg    1x,
                ./images/gallery/ice-cream-exsotic-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/ice-cream-exsotic-tablet.jpg    1x,
                ./images/gallery/ice-cream-exsotic-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/ice-cream-exsotic-mobile.jpg    1x,
                ./images/gallery/ice-cream-exsotic-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-images"
              src="./images/gallery/ice-cream-exsotic-desktop.jpg"
              alt="ice cream exsotic fruit"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/cherry-ice-desktop.jpg    1x,
                ./images/gallery/cherry-ice-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/cherry-ice-tablet.jpg    1x,
                ./images/gallery/cherry-ice-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/cherry-ice-mobile.jpg    1x,
                ./images/gallery/cherry-ice-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-images"
              src="./images/gallery/cherry-ice-desktop.jpg"
              alt="ice cream cherry"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/sorbet-desktop.jpg    1x,
                ./images/gallery/sorbet-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/sorbet-tablet.jpg    1x,
                ./images/gallery/sorbet-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/sorbet-mobile.jpg    1x,
                ./images/gallery/sorbet-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-images"
              src="./images/gallery/sorbet-desktop.jpg"
              alt="ice cream sorbet"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
