
<header class="header">
    <div class="container">
        <div class="header-content">
            <a class="header-logo" href="./index.html">
    <svg width="60" height="65">
        <use href="./images/icons.svg#logo-icon"></use>
    </svg>
            </a>
            <div class="menu-nav is-open" data-menu>
                <a class="logo" href="./index.html">
                    <svg width="48" height="44px">
                    <use href="./images/icons.svg#logo-icon"></use>
                </svg>
                        </a>
                <div class="menu-container">
                    <nav class="navigation">
                        <ul class="nav-list list">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link link">Home </a>
                            </li>
                            <li class="nav-item">
                                <a href="#how-made" class="nav-link link">How it’s made?</a>
                            </li>
                            <li class="nav-item">
                                <a href="#products" class="nav-link link">Our products</a>
                            </li>
                            <li class="nav-item">
                                <a href="#contacts" class="nav-link link">Contact</a>
                            </li>
                        </ul>
                    </nav>

                    <button class="close-menu button" type="button" data-menu-close>
                        <svg class="close-white" width="20" height="20">
                            <use href="./images/icons.svg#icon-close"></use>
                        </svg>
                    </button>

                    <button class="button-buy-now" type="button">Buy now
                        <svg class="icon-arrow" width="12" height="12">
                            <use href="./images/icons.svg#btn-pointer-icon"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <button class="menu button" type="button" data-menu-open>
                <svg class="menu-hamburger" width="32" height="32">
                    <use href="./images/icons.svg#icon-hamburger"></use>
                </svg>
            </button>
            <button class="button-buy-now" type="button" data-modal-pc-open>Buy now
                <svg class="icon-arrow" width="12" height="12">
                    <use href="./images/icons.svg#btn-pointer-icon"></use>
                </svg>
            </button>
        </div>
</div>
</header>


<!-- додати на кнопку відкриття модального вікна атрибут  data-modal-pc-open -->


<div class="backdrop is-hidden" data-modal-pc>
  <div class="modal-product-card">
    <div class="modalProduct">
      <button type="button" class="modal-close-btn" data-modal-pc-close>
        <svg class="modal-close-btn-icon" width="14" height="14">
          <use href="/src/images/icons.svg#modal-close-icon"></use>
        </svg>
      </button>

      <!-- ====  form  ==== -->

      <h2 class="product-card-head">Buy now</h2>
      <form class="product-card-form">
        <ul class="modal-card-list">
          <li class="modal-card-input modal-ice-cream">
            <input
              id="check1"
              type="checkbox"
              name="check1"
              class="checkbox visually-hidden"
            />
            <label class="modal_buy-checkbox" for="check1">
              <span class="custom-checkbox green">
                <span class="circle-gradient">
                  <span class="modal-card-img">
                    <img
                      srcset="
                        /src/images/modal_product_img/icecream@1x.png 1x,
                        /src/images/modal_product_img/icecream@2x.png 2x
                      "
                      src="/src/images/modal_product_img/icecream@1x.png"
                      alt="ice cream"
                    />
                  </span>
                </span>
                <span class="product-card-text">ice cream</span>
              </span>
            </label>
          </li>

          <li class="modal-card-input">
            <input
              id="check2"
              type="checkbox"
              name="check2"
              class="checkbox visually-hidden"
            />
            <label class="modal_buy-checkbox" for="check2">
              <span class="custom-checkbox yellou">
                <span class="circle-gradient">
                  <span class="modal-card-img">
                    <img
                      srcset="
                        /src/images/modal_product_img/icecoffee@1x.png 1x,
                        /src/images/modal_product_img/icecoffee@2x.png 2x
                      "
                      src="/src/images/modal_product_img/icecoffee@1x.png"
                      alt="ice coffee"
                    />
                  </span>
                </span>
                <span class="product-card-text">ice coffee</span>
              </span>
            </label>
          </li>

          <li class="modal-card-input">
            <input
              id="check3"
              type="checkbox"
              name="check3"
              class="checkbox visually-hidden"
            />
            <label class="modal_buy-checkbox" for="check3">
              <span class="custom-checkbox brovn">
                <span class="circle-gradient">
                  <span class="modal-card-img">
                    <img
                      srcset="
                        /src/images/modal_product_img/milchake1@1x.png 1x,
                        /src/images/modal_product_img/milchake1@2x.png 2x
                      "
                      src="/src/images/modal_product_img/milchake1@1x.png"
                      alt="ice cream"
                    />
                  </span>
                </span>
                <span class="product-card-text">milchake</span>
              </span>
            </label>
          </li>
        </ul>
        <div class="form-input-text">
          <div class="form-filed">
            <label for="user-name" class="form-label"></label>
            <input
              type="text"
              class="form-input formfield"
              id="user-name"
              title="Ваше імя"
              pattern="[A-Za-zА-Яа-я' І-Їі-ї]{2,}"
              placeholder="Name"
            />
          </div>

          <div class="form-filed">
            <label for="tel"> <span class="modal-form-text"></span></label>
            <input
              type="tel"
              class="form-input formfield"
              id="tel"
              placeholder="Phone"
              title="прохання вводити лише цифри"
              pattern="\+?[0-9\s\-\(\)]+"
            />
          </div>
          <div class="form-filed">
            <label for="coment" class="form-label"
              ><span class="modal-form-text"></span>
              <textarea
                class="form-message"
                name="user-message"
                id=""
                placeholder="Comment"
              ></textarea>
            </label>
          </div>
        </div>
        <button class="button-form-submit" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

