<section class="hero">
        <div class="container hero-container">
          <h1 class="hero-title">ice cream made with <span class="passion-word">passion</span></h1>
          <ul class="hero-btns-list list">
            <li class="hero-btn-item">
              <a href="#products" class="hero-btn-link link">Products</a>
            </li>
            <li class="hero-btn-item">
              <a href="#how-made" class="hero-btn-link link">How it’s made?</a>
            </li>
          </ul>
          <div class="ice-cream-hero">
            <picture>
              <source srcset="./images/desktop-icecream-img@2x.png" media="(min-width: 1200px)" width="225">
            <img
              srcset="./images/tablet-icecream-img@2x.png"
              src="./images/tablet-icecream-img@1x.png"
              alt="Icecream"
              width="152"
            />
            </picture>
            <div class="ice-cream-hero-wrapper">
            <p class="ice-cream-hero-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button type="submit" class="arrow-btn">
                    <svg class="arrow-btn-icon" width="40" height="16">
                         <use href="./images/icons.svg#arrow-icon"></use>
                    <svg>
            </button>
            </div>
          </div>
          <div class="cafes-points">
            <ul class="cafe-points-list list">
                <li class="cafe-points-item">
                    <p class="points-title">16</p>
                    <p class="points-text">cafes</p>
                </li>
                <li class="cafe-points-item">
                    <p class="points-title">32</p>
                    <p class="points-text">food trucks</p>
                </li>
            </ul>
          </div>
        </div>
      </section>