<div class="backdrop is-hidden" data-modal-mf>
    <div class="modal-franchise">
        <div class="modal-close-icon" data-modal-mf-close>
            <svg class="modal-close-svg">
                <use href="../images/icons.svg#modal-close-icon"></use>
            </svg>
        </div>
        <p class="modal-franchise-title">
            Thank you for your interest in owning an Ice Cream shop
        </p>
        <p class="modal-franchise-text">
            Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.
        </p>
        <div class="modal-franchise-register">
            <input type="text" name="Name" placeholder="Name" class="franchise-register-info">
            <input type="tel" name="Phone" placeholder="Phone" class="franchise-register-info">
            <input type="email" name="Email" placeholder="Email" class="franchise-register-info">
            <textarea name="comment" placeholder="Comment"  class="franchise-register-comment"></textarea>
        </div>
        <div class="modal-franchise-btn">
            <button class="modal-franchise-button">Submit</button>
        </div>
    </div>
</div>