<body>
    <section class="products-section">
      <div class="container">
        <p class="products-sub-tittle">100% NATURAL</p>
        <h2 class="products-tittle">PRODUCTS</h2>
        <div class="container product-div">
          <ul class="product-list">
            <li class="product-list-item">
              <div class="product-wrapper">
                  <div class="background-circle">
                 <img src="./images/ice-cream-products.png"
                 srcset="./images/ice-cream-products.png 1x, ./images/ice-cream-products@2x.png 2x"
                 alt="ice cream"
                 class="img-products"/>
                <h3 class="product-list-tittle">ICE CREAM</h3>
                <p class="product-list-text">
                  Soft ice cream with a delicate taste. Made with milk, cream,
                  sugar and natural stabilizer
                </p>
                <a class="product-icon" href="">
                  <svg class="product-svg" width="40" height="16">
                    <use href="./images/icons.svg#arrow-icon"></use>
                  </svg>
                </a>
                </div>
              </div>
            </li>
            <li class="product-list-item">
              <div class="product-wrapper coffee">
                  <div class="background-circle background-coffe">
                  <img 
                  src="./images/ice-coffee-products.png"
                  srcset="./images/ice-coffee-products.png 1x, ./images/ice-coffee-products@2x.png 2x"
                   alt="ice-coffee"
                   class="img-products">
                <h3 class="product-list-tittle">ICE COFFEE</h3>
                <p class="product-list-text text-coffee">
                  Fragrant invigorating drink created from 100% natural
                  ingredients without the use of preservatives and flavor
                  enhancers
                </p>
                <a class="product-icon" href="">
                  <svg class="product-svg" width="40" height="16">
                    <use href="./images/icons.svg#arrow-icon"></use>
                  </svg>
                </a>
                 </div>
              </div>
            </li>
            <li class="product-list-item">
              <div class="product-wrapper milkshakes">
                <div class="background-circle background-milkshakes">
                  <img 
                  src="./images/milkshakes-products.png" 
                  srcset="./images/milkshakes-products.png 1x, ./images/milkshakes-products@2x.png 2x"
                  alt="milkshakes"
                  class="img-products">
                <h3 class="product-list-tittle">MILKSHAKES</h3>
                <p class="product-list-text text-milkshakes">
                  Sweet drinks based on milk and ice cream, supplemented with
                  syrups, fruits, berries and other sweets of your choice
                </p>
                <a class="product-icon" href="">
                  <svg class="product-svg" width="40" height="16">
                    <use href="./images/icons.svg#arrow-icon"></use>
                  </svg>
                </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>