<section id="products" class="products-section">
  <div class="container">
    <label for="products-section" class="products-sub-tittle">100% NATURAL</label>
    <h2 class="products-tittle">PRODUCTS</h2>
    <div class="container product-div">
      <ul class="product-list">
        <li class="product-list-item">
          <div class="product-wrapper">
            <div class="background-circle">
              <div class="img-products"></div>
              <h3 class="product-list-tittle">ICE CREAM</h3>
              <p class="product-list-text">
                Soft ice cream with a delicate taste. Made with milk, cream,
                sugar and natural stabilizer
              </p>
              <button type="button" class="modul-btn js-open-modal" data-modal="modal_ingredients">
                <svg class="product-svg" width="40" height="16">
                  <use href="./images/icons.svg#arrow-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="product-list-item">
          <div class="product-wrapper coffee">
            <div class="background-circle background-coffe">
              <div class="img-products img-products-coffee"></div>
              <h3 class="product-list-tittle">ICE COFFEE</h3>
              <p class="product-list-text text-coffee">
                Fragrant invigorating drink created from 100% natural
                ingredients without the use of preservatives and flavor
                enhancers
              </p>
              <button type="button" class="modul-btn coffee-btn js-open-modal" data-modal="modal_ingredients>
                <svg class="product-svg" width="40" height="16">
                  <use href="./images/icons.svg#arrow-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="product-list-item">
          <div class="product-wrapper milkshakes">
            <div class="background-circle background-milkshakes">
              <div class="img-products img-products-milkshakes"></div>
              <h3 class="product-list-tittle">MILKSHAKES</h3>
              <p class="product-list-text text-milkshakes">
                Sweet drinks based on milk and ice cream, supplemented with
                syrups, fruits, berries and other sweets of your choice
              </p>
              <button type="button" class="modul-btn milkshakes-btn js-open-modal" data-modal="modal_ingredients>
                <svg class="product-svg" width="40" height="16">
                  <use href="./images/icons.svg#arrow-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
