<div class="reviews-section">
  <h2 class="hidden">Reviews</h2>
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper slider2">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="reviews-photo"
            srcset="./images/reviews/emily@2x.jpg 2x"
            src="./images/reviews/emily.jpg"
            alt="emily"
          />
          <p class="reviews-text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="reviews-name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            class="reviews-photo"
            srcset="./images/reviews/brayan@2x.jpg 2x"
            src="./images/reviews/brayan.jpg"
            alt="brayan"
          />
          <p class="reviews-text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="reviews-name">Bryan, New-York</p>
        </div>
        <div class="swiper-slide">
          <img
            class="reviews-photo"
            srcset="./images/reviews/diana@2x.jpg 2x"
            src="./images/reviews/diana.jpg"
            alt="brayan"
          />
          <p class="reviews-text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="reviews-name">Diana, Chicago</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
